* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(pic.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.quiz {
  display: grid;
  grid-template-rows: 60px auto;
  width: 600px;
  height: 500px;
  border-radius: 50px;
}

.quiz_header {
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
  box-shadow: 10px 2px 5px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.quiz_user {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 30px;
}

.quiz_body {
  padding: 20px 30px;
  background-color: #008b8b;
  border: 50px;
}

.option_group {
  list-style-type: none;
  margin: 30px 0;
}

.option {
  display: block;
  width: 300px;
  background-color: bisque;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: 0.4s all;
}

.option:hover {
  cursor: pointer;
  border: 4px solid;
  color: #a52a2a;
}

.option.active {
  background-color: #341f97;
  color: #fff;
}

.btn-next {
  border: none;
  padding: 15px 35px;
  background-color: #341f97;
  color: #dc143c;
  box-shadow: transparent;
  border-radius: 50px;
  transition: 0.4s all;
}

.btn-next:hover {
  cursor: pointer;
  background-color: #f5c509;
  color: #fff8dc;
}

.award_icon {
  display: block;
  font-size: 300px;
  color: #fff;
}

.username,
.userpoints {
  color: #fff;
  text-align: center;
  margin-top: 15px;
}

.border {
  height: 500px;
  width: 500px;
  display: inline-block;
  justify-content: space-between;
  margin: 0px 400px;
  border-radius: 10px;
  top: 100px;
  border-color: transparent;
}
